<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RunMBModels.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <RunMBModels.My.MySettings>
            <setting name="ConnectionString" serializeAs="String">
                <value>ConnectionString</value>
            </setting>
            <setting name="ModelDirectory" serializeAs="String">
                <value>\\tigerwood\jungle$\MeritBase\Processes\_OLD VALID PROCESSES 2020_07A\MERIT_MODELS_1\ScriptsRevisedforMIDS\</value>
            </setting>
            <setting name="ReportDirectory" serializeAs="String">
                <value>\\tigerwood\jungle$\MeritBase\Processes\_OLD VALID PROCESSES 2020_07A\MERIT_MODELS_1\ScriptsRevisedforMIDS\Reports\</value>
            </setting>
            <setting name="SQLCmd" serializeAs="String">
                <value> C:\Program Files (x86)\Microsoft SQL Server\Client SDK\ODBC\130\Tools\Binn\SQLCMD.EXE</value>
            </setting>
            <setting name="recipients" serializeAs="String">
                <value>jbarash@meritdirect.com</value>
            </setting>
        </RunMBModels.My.MySettings>
    </applicationSettings>
</configuration>